{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-Br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inventário da Sala de Apoio </title>

  {% compress css %}
  <link rel="stylesheet" href="{% static 'src/output.css' %}">
  {% endcompress %}

</head>
<body class='bg-slate-900'>
    {% load account %}
    {% include 'components/_nav.html' %}

    <div class= "flex justify-center">

      {% block content %}
      
      {% endblock content %}
    </div>

  
 
</body>
</html>