{% extends "_base.html" %}


{% block content %}
<div class="flex flex-col justify-center overflow-auto h-[calc(100vh-60px)] w-full">
    {% include 'components/_alerts.html' %}
    <div class="flex justify-center w-full">
        <input id="room-name-input" type="text" size="100" class="focus:border-transparent px-2 py-4 mb-4 bg-slate-800 rounded-lg text-slate-400 w-96" placeholder="Nome do usuário">
    </div>
    <div class="flex justify-center w-full">
        <input id="room-name-submit" type="button" value="Entrar" class="bg-emerald-900 text-emerald-500 py-3 px-10 rounded-3xl font-bold border border-emerald-800 w-40">
    </div>
</div>

<script>
    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onkeyup = function(e) {
        if (e.key === 'Enter') {  // enter, return
            document.querySelector('#room-name-submit').click();
        }
    };

    document.querySelector('#room-name-submit').onclick = function(e) {
        var roomName = document.querySelector('#room-name-input').value;
        if (roomName){
            window.location.pathname = '/chat/' + roomName + '/';
        } else {
            alert("Informe uma sala para entrar")
        }
    };
</script>
{% endblock content %}
  