{% extends "_base.html" %}


{% block content %}

<section class="bg-white py-8 antialiased dark:bg-gray-900 md:py-16 w-full">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <div class="mx-auto max-w-5xl">
      <h2 class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl">{{ item.name |upper }}</h2>
      <div class="space-y-6 mt-4">
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">
          {% if item.description %}
            {{ item.description }}
          {% else %}
            O item não tem descrição.
          {% endif %}
        </p>
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">
          O item {{ item.quantity }} registrados, das quais {{ item.quantity_available }} estão disponíveis.
        </p>
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">
          
          {% if item.patrimony_number %}
            O número de patrimônio é {{ item.patrimony_number }}.
          {% else %}
            Não está registrado com número de patrimônio.
          {% endif %}
            
        </p>
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">
          
          Os locais em que o item está guardado são:
        </p>

          <ul>
            {% for location in item.location.all  %}
            <li class="text-base font-normal text-gray-500 dark:text-gray-400"> {{location}}{% if location.room %}, na sala: {{location.room}}, bloco {{location.room.block}}{% endif %}.
              </li>
            {% endfor %}
          </ul>
            
      </div>
      </div>
    </div>
  </div>
</section>
  
{% endblock content %}
  